<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <p>Bem vindo ao sistema de gestão de locação</p>
        </div>
      </div>
    </div>
</section>