<% if @rental.errors.any? %>
  <% @rental.errors.full_messages.each do |message| %>
    <p>
      <%= message %>
    </p>
  <% end %>
<% end %>
<h1>Nova locação</h1>

<%= render partial: 'form', locals: { rental: @rental } %>